
.products_container{
    display: flex;
    align-items:baseline;
    justify-content: center;
    margin: 1rem;
    width: 100%;
    padding: 2rem;
    overflow: hidden;
}
.hello{
    max-width: 30rem;
}
.hello>h1{
    font-size: 3rem;
    font-weight: 400;
    font-family: var(--font-ppe);
}
.product_box_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-wrap: wrap;
}
.titles{
    background-color: rgb(143, 58, 58);
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    border-radius:.5rem;
    max-width: 300px;
}
.icon{
    font-size: 1rem;
}
@media(max-width:769px){
    .products_container{
        flex-wrap: wrap;
    }
}