@font-face {
    font-family: 'Roslindale';
    src: local('Roslindale Regular'), local('Roslindale-Regular'),
        url('RoslindaleText-Regular.woff2') format('woff2'),
        url('RoslindaleText-Regular.woff') format('woff'),
        url('RoslindaleText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }