*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  overflow: hidden;
  background-color: #f5f5f5;
}
.neue{
  font-family: var(--font-neue);
}
.ppe{
  font-family: var(--font-ppe);
}
.ppe_italic{
  font-family: var(--ppe_italic);
}
.loader_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #FF3D00;
    position: relative;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: #ce0000;
    transform: rotate(0deg) translate(30px);
    animation: rotate 1s ease infinite;
  }
  .loader:after {
    animation-delay: 0.5s
  }
  @keyframes rotate {
    100% {transform: rotate(360deg) translate(30px)
  }
    }  